# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Selenium Doc](https://www.selenium.dev/documentation/)
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `Selenium` and `pandas` are imported for you.

In [194]:
#hay que crear el gitignore para las cookies de este lab

In [1]:
#%pip install selenium
#%pip install webdriver-manager

In [1]:
import pandas as pd
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium import webdriver

#### Enable the options you may need. In the next cell you have an example of them but you can choose to use them or not.

In [2]:
#driver configuration
opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
opciones.add_argument('--start-maximized')         # comienza maximizado
#opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
#opciones.add_extension('driver_folder/adblock.crx')       # adblocker
opciones.add_argument('--incognito')
 # cockies

In [3]:
driver = webdriver.Chrome(options = opciones)

In [199]:
#opciones.add_argument('user-data-dir=cookies')

#### Download, parse, and print the content from the Trending Developers page from GitHub:

In [4]:
import warnings
warnings.filterwarnings('ignore')

from selenium.webdriver.common.by import By

In [8]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'
driver.get(url)

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [202]:
#driver.find_element(By.XPATH, '//*[@id="W0wltc"]').click()

In [6]:
lst = driver.find_elements(By.CSS_SELECTOR, 'div.col-md-6')[0].text.split('\n')

In [7]:
todo = driver.find_elements(By.CSS_SELECTOR, 'article.Box-row.d-flex')

todos = [e.text.split('\n')[1:3] for e in todo] #aqui tengo una lista de listas y quiero tener solo 1 lista con todo
todos

todos = [', '.join(e.text.split('\n')[1:3]) for e in todo] # con el join uno todas las listas en 1 indicando el separador
todos

['Ismail Pelaseyed, homanp',
 'Chris Banes, chrisbanes',
 'Travis Cline, tmc',
 'Xiaoyu Zhang, BBuf',
 'Stefan Prodan, stefanprodan',
 'Pedro Cattori, pcattori',
 'lllyasviel, POPULAR REPO',
 'Arvin Xu, arvinxx',
 'Howard Wu, howardwu',
 'Shahed Nasser, shahednasser',
 'Kailash Nadh, knadh',
 'Mattt, mattt',
 'kixelated, POPULAR REPO',
 'Brad Fitzpatrick, bradfitz',
 'Miško Hevery, mhevery',
 'Andrew Lock, andrewlock',
 'Brian Smith, briansmith',
 'Numan, numandev1',
 'Fons van der Plas, fonsp',
 'Leonid Bugaev, buger',
 'wū yāng, uyarn',
 'Steven Nguyen, stnguyen90',
 'Argo Zhang, ArgoZhang',
 'Josh Stein, jcstein',
 'Mike McNeil, mikermcneil']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [11]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'
driver.get(url)

In [15]:
repositories = driver.find_elements(By.CSS_SELECTOR, 'article.Box-row')

repo = [e.text.split('\n')[1] for e in repositories]
repo

['Star',
 'THUDM / ChatGLM3',
 'PaddlePaddle / PaddleOCR',
 'langchain-ai / langchain',
 'dataelement / bisheng',
 'Azure / MS-AMP',
 'xxlong0 / Wonder3D',
 'yunjey / pytorch-tutorial',
 'facebookresearch / llama',
 'localstack / localstack',
 'OpenBMB / ChatDev',
 'ray-project / ray',
 'CycodeLabs / raven',
 'ageitgey / face_recognition',
 'iam-veeramalla / aws-devops-zero-to-hero',
 'openai / whisper',
 'Star',
 'imartinez / privateGPT',
 'reflex-dev / reflex',
 'donnemartin / system-design-primer',
 'lm-sys / FastChat',
 'togethercomputer / RedPajama-Data',
 'SkyworkAI / Skywork',
 'microsoft / qlib',
 'pathwaycom / llm-app']

#### Display all the image links from Walt Disney wikipedia page

In [16]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'
driver.get(url)

In [17]:
walt_disney = driver.find_elements(By.CLASS_NAME, 'mw-file-element')
walt_disney

fotos = [e.get_attribute('src') for e in walt_disney]
fotos

['https://upload.wikimedia.org/wikipedia/en/thumb/e/e7/Cscr-featured.svg/20px-Cscr-featured.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/8/8c/Extended-protection-shackle.svg/20px-Extended-protection-shackle.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Walt_Disney_1942_signature.svg/150px-Walt_Disney_1942_signature.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Walt_Disney_Birthplace_Exterior_Hermosa_Chicago_Illinois.jpg/220px-Walt_Disney_Birthplace_Exterior_Hermosa_Chicago_Illinois.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg',
 'https://upload.wikimedia.org/wikipedia/en/thumb/4/4e/Steamboat-willie.jpg/220px-Steamboat-willie.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Disney_drawing_goofy.jpg/170px-Disney_drawing_goofy.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/WaltDisneyplansDisneylandDec1954.jpg/220px-WaltDisneyplansDisneylandDec1954.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Walt_disney_portrait_right.jpg/170px-Walt_disney_portrait_right.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Walt_Disney_Grave.JPG/170px-Walt_Disney_Grave.JPG',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Nuvola_apps_kaboodle.svg/16px-Nuvola_apps_kaboodle.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/DisneySchiphol1951.jpg/220px-DisneySchiphol1951.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Disney1968.jpg/170px-Disney1968.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Disney_Oscar_1953_%28cropped%29.jpg/170px-Disney_Oscar_1953_%28cropped%29.jpg',
 'https://upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/30px-Commons-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Wikisource-logo.svg/38px-Wikisource-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikiquote-logo.svg/34px-Wikiquote-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/9/96/Symbol_category_class.svg/16px-Symbol_category_class.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Disneyland_Resort_logo.svg/135px-Disneyland_Resort_logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Animation_disc.svg/20px-Animation_disc.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/6/69/P_vip.svg/19px-P_vip.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Magic_Kingdom_castle.jpg/15px-Magic_Kingdom_castle.jpg',
 'https://upload.wikimedia.org/wikipedia/en/thumb/e/e7/Video-x-generic.svg/19px-Video-x-generic.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Flag_of_Los_Angeles_County%2C_California.svg/21px-Flag_of_Los_Angeles_County%2C_California.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Blank_television_set.svg/21px-Blank_television_set.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/21px-Flag_of_the_United_States.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [41]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python' 
driver.get(url)

In [20]:
piton = driver.find_elements(By.CSS_SELECTOR, 'a')
piton

list = [e.get_attribute('href') for e in piton]
list

['https://en.wikipedia.org/wiki/Python#bodyContent',
 'https://en.wikipedia.org/wiki/Main_Page',
 'https://en.wikipedia.org/wiki/Wikipedia:Contents',
 'https://en.wikipedia.org/wiki/Portal:Current_events',
 'https://en.wikipedia.org/wiki/Special:Random',
 'https://en.wikipedia.org/wiki/Wikipedia:About',
 'https://en.wikipedia.org/wiki/Wikipedia:Contact_us',
 'https://donate.wikimedia.org/wiki/Special:FundraiserRedirector?utm_source=donate&utm_medium=sidebar&utm_campaign=C13_en.wikipedia.org&uselang=en',
 'https://en.wikipedia.org/wiki/Help:Contents',
 'https://en.wikipedia.org/wiki/Help:Introduction',
 'https://en.wikipedia.org/wiki/Wikipedia:Community_portal',
 'https://en.wikipedia.org/wiki/Special:RecentChanges',
 'https://en.wikipedia.org/wiki/Wikipedia:File_upload_wizard',
 'https://en.wikipedia.org/wiki/Main_Page',
 'https://en.wikipedia.org/wiki/Special:Search',
 'https://en.wikipedia.org/w/index.php?title=Special:CreateAccount&returnto=Python',
 'https://en.wikipedia.org/w/index.php?title=Special:UserLogin&returnto=Python',
 'https://en.wikipedia.org/w/index.php?title=Special:CreateAccount&returnto=Python',
 'https://en.wikipedia.org/w/index.php?title=Special:UserLogin&returnto=Python',
 'https://en.wikipedia.org/wiki/Help:Introduction',
 'https://en.wikipedia.org/wiki/Special:MyContributions',
 'https://en.wikipedia.org/wiki/Special:MyTalk',
 'https://en.wikipedia.org/wiki/Python#',
 'https://en.wikipedia.org/wiki/Python#Snakes',
 'https://en.wikipedia.org/wiki/Python#Computing',
 'https://en.wikipedia.org/wiki/Python#People',
 'https://en.wikipedia.org/wiki/Python#Roller_coasters',
 'https://en.wikipedia.org/wiki/Python#Vehicles',
 'https://en.wikipedia.org/wiki/Python#Weaponry',
 'https://en.wikipedia.org/wiki/Python#Other_uses',
 'https://en.wikipedia.org/wiki/Python#See_also',
 'https://af.wikipedia.org/wiki/Python',
 'https://als.wikipedia.org/wiki/Python',
 'https://ar.wikipedia.org/wiki/%D8%A8%D8%A7%D9%8A%D8%AB%D9%88%D9%86_(%D8%AA%D9%88%D8%B6%D9%8A%D8%AD)',
 'https://az.wikipedia.org/wiki/Python_(d%C9%99qiql%C9%99%C5%9Fdirm%C9%99)',
 'https://bn.wikipedia.org/wiki/%E0%A6%AA%E0%A6%BE%E0%A6%87%E0%A6%A5%E0%A6%A8_(%E0%A6%A6%E0%A7%8D%E0%A6%AC%E0%A7%8D%E0%A6%AF%E0%A6%B0%E0%A7%8D%E0%A6%A5%E0%A6%A4%E0%A6%BE_%E0%A6%A8%E0%A6%BF%E0%A6%B0%E0%A6%B8%E0%A6%A8)',
 'https://be.wikipedia.org/wiki/Python',
 'https://bg.wikipedia.org/wiki/%D0%9F%D0%B8%D1%82%D0%BE%D0%BD_(%D0%BF%D0%BE%D1%8F%D1%81%D0%BD%D0%B5%D0%BD%D0%B8%D0%B5)',
 'https://cs.wikipedia.org/wiki/Python_(rozcestn%C3%ADk)',
 'https://da.wikipedia.org/wiki/Python',
 'https://de.wikipedia.org/wiki/Python',
 'https://eo.wikipedia.org/wiki/Pitono_(apartigilo)',
 'https://eu.wikipedia.org/wiki/Python_(argipena)',
 'https://fa.wikipedia.org/wiki/%D9%BE%D8%A7%DB%8C%D8%AA%D9%88%D9%86',
 'https://fr.wikipedia.org/wiki/Python',
 'https://ko.wikipedia.org/wiki/%ED%8C%8C%EC%9D%B4%EC%84%A0',
 'https://hr.wikipedia.org/wiki/Python_(razdvojba)',
 'https://io.wikipedia.org/wiki/Pitono',
 'https://id.wikipedia.org/wiki/Python',
 'https://ia.wikipedia.org/wiki/Python_(disambiguation)',
 'https://is.wikipedia.org/wiki/Python_(a%C3%B0greining)',
 'https://it.wikipedia.org/wiki/Python_(disambigua)',
 'https://he.wikipedia.org/wiki/%D7%A4%D7%99%D7%AA%D7%95%D7%9F',
 'https://ka.wikipedia.org/wiki/%E1%83%9E%E1%83%98%E1%83%97%E1%83%9D%E1%83%9C%E1%83%98_(%E1%83%9B%E1%83%A0%E1%83%90%E1%83%95%E1%83%90%E1%83%9A%E1%83%9B%E1%83%9C%E1%83%98%E1%83%A8%E1%83%95%E1%83%9C%E1%83%94%E1%83%9A%E1%83%9D%E1%83%95%E1%83%90%E1%83%9C%E1%83%98)',
 'https://kg.wikipedia.org/wiki/Mboma_(nyoka)',
 'https://la.wikipedia.org/wiki/Python_(discretiva)',
 'https://lb.wikipedia.org/wiki/Python',
 'https://hu.wikipedia.org/wiki/Python_(egy%C3%A9rtelm%C5%B1s%C3%ADt%C5%91_lap)',
 'https://mr.wikipedia.org/wiki/%E0%A4%AA%E0%A4%BE%E0%A4%AF%E0%A4%A5%E0%A5%89%E0%A4%A8_(%E0%A4%86%E0%A4%9C%E0%A5%8D%E0%A4%9E%E0%A4%BE%E0%A4%B5%E0%A4%B2%E0%A5%80_%E0%A4%AD%E0%A4%BE%E0%A4%B7%E0%A4%BE)',
 'https://nl.wikipedia.org/wiki/Python',
 'https://ja.wikipedia.org/wiki/%E3%83%91%E3%82%A4%E3%82%BD%E3%83%B3',
 'https://no.wikipedia.org/wiki/Pyton',
 'https://pl.wikipedia.org/wiki/Pyton',
 'https://pt.wikipedia.org/wiki/Python_(desambigua%C3%A7%C3%A3o)',
 'https://ru.wikipedia.org/wiki/Python_(%D0%B7%D0%BD%D0%B0%D1%87%D0%B5%D0%BD%D0%B8%D1%8F)',
 'https://sk.wikipedia.org/wiki/Python',
 'https://sr.wikipedia.org/wiki/%D0%9F%D0%B8%D1%82%D0%BE%D0%BD_(%D0%B2%D0%B8%D1%88%D0%B5%D0%B7%D0%BD%D0%B0%D1%87%D0%BD%D0%B0_%D0%BE%D0%B4%D1%80%D0%B5%D0%B4%D0%BD%D0%B8%D1%86%D0%B0)',
 'https://sh.wikipedia.org/wiki/Python',
 'https://fi.wikipedia.org/wiki/Python',
 'https://sv.wikipedia.org/wiki/Pyton',
 'https://th.wikipedia.org/wiki/%E0%B9%84%E0%B8%9E%E0%B8%97%E0%B8%AD%E0%B8%99',
 'https://tr.wikipedia.org/wiki/Python_(anlam_ayr%C4%B1m%C4%B1)',
 'https://uk.wikipedia.org/wiki/%D0%9F%D1%96%D1%84%D0%BE%D0%BD',
 'https://ur.wikipedia.org/wiki/%D9%BE%D8%A7%D8%A6%DB%8C%D8%AA%DA%BE%D9%88%D9%86',
 'https://vi.wikipedia.org/wiki/Python',
 'https://zh.wikipedia.org/wiki/Python_(%E6%B6%88%E6%AD%A7%E4%B9%89)',
 'https://www.wikidata.org/wiki/Special:EntityPage/Q747452#sitelinks-wikipedia',
 'https://en.wikipedia.org/wiki/Python',
 'https://en.wikipedia.org/wiki/Talk:Python',
 'https://en.wikipedia.org/wiki/Python',
 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&editintro=Template:Disambig_editintro',
 'https://en.wikipedia.org/w/index.php?title=Python&action=history',
 'https://en.wikipedia.org/wiki/Python',
 'https://en.wikipedia.org/w/index.php?title=Python&action=edit',
 'https://en.wikipedia.org/w/index.php?title=Python&action=history',
 'https://en.wikipedia.org/wiki/Special:WhatLinksHere/Python',
 'https://en.wikipedia.org/wiki/Special:RecentChangesLinked/Python',
 'https://en.wikipedia.org/wiki/Wikipedia:File_Upload_Wizard',
 'https://en.wikipedia.org/wiki/Special:SpecialPages',
 'https://en.wikipedia.org/w/index.php?title=Python&oldid=1182751793',
 'https://en.wikipedia.org/w/index.php?title=Python&action=info',
 'https://en.wikipedia.org/w/index.php?title=Special:CiteThisPage&page=Python&id=1182751793&wpFormIdentifier=titleform',
 'https://en.wikipedia.org/w/index.php?title=Special:UrlShortener&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FPython',
 'https://www.wikidata.org/wiki/Special:EntityPage/Q747452',
 'https://www.wikidata.org/wiki/Special:EntityPage/Q747452#sitelinks-wikipedia',
 'https://en.wikipedia.org/w/index.php?title=Special:DownloadAsPdf&page=Python&action=show-download-screen',
 'https://en.wikipedia.org/w/index.php?title=Python&printable=yes',
 'https://commons.wikimedia.org/wiki/Category:Python',
 'https://en.wiktionary.org/wiki/Python',
 'https://en.wiktionary.org/wiki/python',
 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&section=1&editintro=Template:Disambig_editintro',
 'https://en.wikipedia.org/wiki/Pythonidae',
 'https://en.wikipedia.org/wiki/Python_(genus)',
 'https://en.wikipedia.org/wiki/Python_(mythology)',
 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&section=2&editintro=Template:Disambig_editintro',
 'https://en.wikipedia.org/wiki/Python_(programming_language)',
 'https://en.wikipedia.org/wiki/CMU_Common_Lisp',
 'https://en.wikipedia.org/wiki/PERQ#PERQ_3',
 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&section=3&editintro=Template:Disambig_editintro',
 'https://en.wikipedia.org/wiki/Python_of_Aenus',
 'https://en.wikipedia.org/wiki/Python_(painter)',
 'https://en.wikipedia.org/wiki/Python_of_Byzantium',
 'https://en.wikipedia.org/wiki/Python_of_Catana',
 'https://en.wikipedia.org/wiki/Python_Anghelo',
 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&section=4&editintro=Template:Disambig_editintro',
 'https://en.wikipedia.org/wiki/Python_(Efteling)',
 'https://en.wikipedia.org/wiki/Python_(Busch_Gardens_Tampa_Bay)',
 'https://en.wikipedia.org/wiki/Python_(Coney_Island,_Cincinnati,_Ohio)',
 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&section=5&editintro=Template:Disambig_editintro',
 'https://en.wikipedia.org/wiki/Python_(automobile_maker)',
 'https://en.wikipedia.org/wiki/Python_(Ford_prototype)',
 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&section=6&editintro=Template:Disambig_editintro',
 'https://en.wikipedia.org/wiki/Python_(missile)',
 'https://en.wikipedia.org/wiki/Python_(nuclear_primary)',
 'https://en.wikipedia.org/wiki/Colt_Python',
 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&section=7&editintro=Template:Disambig_editintro',
 'https://en.wikipedia.org/wiki/Python_(codename)',
 'https://en.wikipedia.org/wiki/Python_(film)',
 'https://en.wikipedia.org/wiki/Monty_Python',
 'https://en.wikipedia.org/wiki/Python_(Monty)_Pictures',
 'https://en.wikipedia.org/wiki/Timon_of_Phlius',
 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&section=8&editintro=Template:Disambig_editintro',
 'https://en.wikipedia.org/wiki/Pyton',
 'https://en.wikipedia.org/wiki/Pithon',
 'https://en.wikipedia.org/wiki/File:Disambig_gray.svg',
 'https://en.wikipedia.org/wiki/Help:Disambiguation',
 'https://en.wikipedia.org/w/index.php?title=Special:WhatLinksHere/Python&namespace=0',
 'https://en.wikipedia.org/w/index.php?title=Python&oldid=1182751793',
 'https://en.wikipedia.org/wiki/Help:Category',
 'https://en.wikipedia.org/wiki/Category:Disambiguation_pages',
 'https://en.wikipedia.org/wiki/Category:Human_name_disambiguation_pages',
 'https://en.wikipedia.org/wiki/Category:Disambiguation_pages_with_given-name-holder_lists',
 'https://en.wikipedia.org/wiki/Category:Short_description_is_different_from_Wikidata',
 'https://en.wikipedia.org/wiki/Category:All_article_disambiguation_pages',
 'https://en.wikipedia.org/wiki/Category:All_disambiguation_pages',
 'https://en.wikipedia.org/wiki/Category:Animal_common_name_disambiguation_pages',
 'https://en.wikipedia.org/wiki/Wikipedia:Text_of_the_Creative_Commons_Attribution-ShareAlike_4.0_International_License',
 'https://en.wikipedia.org/wiki/Wikipedia:Text_of_the_Creative_Commons_Attribution-ShareAlike_4.0_International_License',
 'https://foundation.wikimedia.org/wiki/Terms_of_Use',
 'https://foundation.wikimedia.org/wiki/Privacy_policy',
 'https://www.wikimediafoundation.org/',
 'https://foundation.wikimedia.org/wiki/Special:MyLanguage/Policy:Privacy_policy',
 'https://en.wikipedia.org/wiki/Wikipedia:About',
 'https://en.wikipedia.org/wiki/Wikipedia:General_disclaimer',
 'https://en.wikipedia.org/wiki/Wikipedia:Contact_us',
 'https://foundation.wikimedia.org/wiki/Special:MyLanguage/Universal_Code_of_Conduct',
 'https://developer.wikimedia.org/',
 'https://stats.wikimedia.org/#/en.wikipedia.org',
 'https://foundation.wikimedia.org/wiki/Special:MyLanguage/Policy:Cookie_statement',
 'https://en.m.wikipedia.org/w/index.php?title=Python&mobileaction=toggle_view_mobile',
 'https://en.wikipedia.org/wiki/Python#',
 'https://wikimediafoundation.org/',
 'https://www.mediawiki.org/',
 'https://en.wikipedia.org/wiki/Python?action=edit']

#### Number of Titles that have changed in the United States Code since its last release point

In [60]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'
driver.get(url)

In [62]:
USA = driver.find_elements(By.CLASS_NAME, 'usctitlechanged')
USA

USA_changed = [e.text for e in USA]
USA_changed

['Title 20 - Education', "Title 38 - Veterans' Benefits ٭"]

#### A Python list with the top ten FBI's Most Wanted names

In [63]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'
driver.get(url)

In [65]:
FBI = driver.find_elements(By.CSS_SELECTOR, 'h3.title')
FBI

names = [e.text for e in FBI]
names

['ARNOLDO JIMENEZ',
 'OMAR ALEXANDER CARDENAS',
 'YULAN ADONAY ARCHAGA CARIAS',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'DONALD EUGENE FIELDS II',
 'RUJA IGNATOVA',
 'WILVER VILLEGAS-PALOMINO',
 'ALEJANDRO ROSALES CASTILLO',
 'ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [11]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'
driver.get(url)

In [17]:
tabla = driver.find_element(By.XPATH, '/html/body/div[3]/div[6]/table')

terremoto = tabla.find_element(By.TAG_NAME, 'tbody')
terremoto

EMSC = terremoto.find_elements(By.TAG_NAME, 'tr')
EMSC     

EMSC[0].find_elements(By.TAG_NAME, 'td')[4].text

'46.306'

In [19]:
matriz = []

for f in EMSC: 
    tmp = []
    elems = f.find_elements(By.TAG_NAME, 'td')
    
    for e in elems:
        tmp.append(e.text)
    matriz.append(tmp)

matriz

[['',
  '',
  '',
  '2023-11-05 20:03:26\n16 min ago',
  '46.306',
  '13.542',
  '20',
  '',
  '0.7',
  'SLOVENIA'],
 ['',
  '',
  '',
  '2023-11-05 20:00:57\n18 min ago',
  '-37.534',
  '179.334',
  '12',
  '',
  '3.0',
  'OFF E. COAST OF N. ISLAND, N.Z.'],
 ['',
  '',
  '',
  '2023-11-05 19:35:37\n44 min ago',
  '12.710',
  '-88.350',
  '34',
  '',
  '2.6',
  'OFFSHORE EL SALVADOR'],
 ['',
  '',
  '',
  '2023-11-05 19:32:14\n47 min ago',
  '8.620',
  '122.220',
  '33',
  '',
  '3.2',
  'MINDANAO, PHILIPPINES'],
 ['',
  '',
  '',
  '2023-11-05 19:25:06\n54 min ago',
  '11.380',
  '126.260',
  '26',
  '',
  '3.5',
  'PHILIPPINE ISLANDS REGION'],
 ['',
  '',
  '',
  '2023-11-05 19:15:30\n1 hr 04 min ago',
  '-31.267',
  '-68.406',
  '106',
  '',
  '3.0',
  'SAN JUAN, ARGENTINA'],
 ['',
  '',
  '',
  '2023-11-05 19:09:34\n1 hr 10 min ago',
  '13.090',
  '-88.590',
  '193',
  '',
  '2.7',
  'OFFSHORE EL SALVADOR'],
 ['',
  '',
  '',
  '2023-11-05 18:56:08\n1 hr 23 min ago',
  '14.161',
  '-91.196',
  '91',
  '',
  '4.4',
  'GUATEMALA'],
 ['',
  '',
  '',
  '2023-11-05 18:45:51\n1 hr 33 min ago',
  '-3.700',
  '101.230',
  '10',
  '',
  '3.2',
  'SOUTHERN SUMATRA, INDONESIA'],
 ['',
  '',
  '',
  '2023-11-05 18:39:56\n1 hr 39 min ago',
  '42.896',
  '-106.768',
  '5',
  '',
  '2.9',
  'WYOMING'],
 ['',
  '',
  '',
  '2023-11-05 18:36:12\n1 hr 43 min ago',
  '39.083',
  '-28.431',
  '5',
  '',
  '2.3',
  'AZORES ISLANDS, PORTUGAL'],
 ['',
  '',
  '',
  '2023-11-05 18:27:30\n1 hr 52 min ago',
  '8.835',
  '-82.817',
  '24',
  '',
  '3.4',
  'PANAMA-COSTA RICA BORDER REGION'],
 ['',
  '',
  '',
  '2023-11-05 18:22:18\n1 hr 57 min ago',
  '-23.130',
  '-69.000',
  '112',
  '',
  '3.0',
  'ANTOFAGASTA, CHILE'],
 ['',
  '',
  '',
  '2023-11-05 17:46:08\n2 hr 33 min ago',
  '36.028',
  '-5.001',
  '31',
  '',
  '2.8',
  'STRAIT OF GIBRALTAR'],
 ['',
  '',
  '',
  '2023-11-05 17:45:48\n2 hr 33 min ago',
  '46.305',
  '13.600',
  '14',
  '',
  '0.8',
  'SLOVENIA'],
 ['',
  '',
  '',
  '2023-11-05 17:42:30\n2 hr 37 min ago',
  '9.541',
  '-83.040',
  '16',
  '',
  '3.1',
  'COSTA RICA'],
 ['',
  '',
  '',
  '2023-11-05 17:33:47\n2 hr 45 min ago',
  '10.530',
  '126.590',
  '1',
  '',
  '3.4',
  'PHILIPPINE ISLANDS REGION'],
 ['',
  '',
  '',
  '2023-11-05 17:30:31\n2 hr 49 min ago',
  '38.150',
  '22.230',
  '40',
  '',
  '2.0',
  'GREECE'],
 ['',
  '',
  '',
  '2023-11-05 17:18:48\n3 hr 00 min ago',
  '0.900',
  '127.640',
  '10',
  '',
  '2.6',
  'HALMAHERA, INDONESIA'],
 ['',
  '',
  '',
  '2023-11-05 17:15:11\n3 hr 04 min ago',
  '17.943',
  '-67.093',
  '14',
  '',
  '2.6',
  'PUERTO RICO REGION'],
 ['',
  '',
  '',
  '2023-11-05 17:15:08\n3 hr 04 min ago',
  '3.130',
  '126.500',
  '10',
  '',
  '3.1',
  'KEPULAUAN TALAUD, INDONESIA'],
 ['',
  '',
  '',
  '2023-11-05 17:11:23\n3 hr 08 min ago',
  '-35.480',
  '-71.470',
  '90',
  '',
  '3.3',
  'MAULE, CHILE'],
 ['',
  '',
  '',
  '2023-11-05 17:10:08\n3 hr 09 min ago',
  '37.824',
  '141.859',
  '55',
  '',
  '4.7',
  'NEAR EAST COAST OF HONSHU, JAPAN'],
 ['',
  '',
  '',
  '2023-11-05 17:08:07\n3 hr 11 min ago',
  '12.610',
  '-88.220',
  '27',
  '',
  '2.7',
  'OFFSHORE EL SALVADOR'],
 ['',
  '',
  '',
  '2023-11-05 16:54:38\n3 hr 25 min ago',
  '0.490',
  '121.720',
  '84',
  '',
  '3.2',
  'MINAHASA, SULAWESI, INDONESIA'],
 ['',
  '',
  '',
  '2023-11-05 16:53:01\n3 hr 26 min ago',
  '40.703',
  '30.645',
  '8',
  '',
  '2.0',
  'WESTERN TURKEY'],
 ['',
  '',
  '',
  '2023-11-05 16:50:26\n3 hr 29 min ago',
  '46.291',
  '7.481',
  '4',
  '',
  '1.3',
  'SWITZERLAND'],
 ['',
  '',
  '',
  '2023-11-05 16:49:55\n3 hr 29 min ago',
  '-21.150',
  '-68.800',
  '109',
  '',
  '2.6',
  'TARAPACA, CHILE'],
 ['',
  '',
  '',
  '2023-11-05 16:47:37\n3 hr 32 min ago',
  '-8.250',
  '119.710',
  '156',
  '',
  '2.6',
  'FLORES REGION, INDONESIA'],
 ['',
  '9',
  '',
  '2023-11-05 16:40:00\n3 hr 39 min ago',
  '41.062',
  '20.003',
  '10',
  '',
  '3.0',
  'ALBANIA'],
 ['',
  '',
  '',
  '2023-11-05 16:31:22\n3 hr 48 min ago',
  '-36.715',
  '177.656',
  '141',
  '',
  '3.2',
  'OFF E. COAST OF N. ISLAND, N.Z.'],
 ['',
  '',
  '',
  '2023-11-05 16:26:57\n3 hr 52 min ago',
  '24.940',
  '94.890',
  '10',
  '',
  '3.1',
  'MYANMAR-INDIA BORDER REGION'],
 ['',
  '',
  '',
  '2023-11-05 16:20:11\n3 hr 59 min ago',
  '37.391',
  '36.948',
  '6',
  '',
  '2.2',
  'CENTRAL TURKEY'],
 ['',
  '',
  '',
  '2023-11-05 16:19:53\n3 hr 59 min ago',
  '-38.620',
  '175.350',
  '271',
  '',
  '3.1',
  'NORTH ISLAND OF NEW ZEALAND'],
 ['',
  '',
  '',
  '2023-11-05 15:53:06\n4 hr 26 min ago',
  '38.200',
  '22.770',
  '5',
  '',
  '2.1',
  'GREECE'],
 ['',
  '',
  '',
  '2023-11-05 15:49:00\n4 hr 30 min ago',
  '-7.170',
  '116.420',
  '566',
  '',
  '3.8',
  'BALI SEA'],
 ['',
  '',
  '',
  '2023-11-05 15:48:20\n4 hr 31 min ago',
  '31.675',
  '-104.425',
  '6',
  '',
  '2.9',
  'WESTERN TEXAS'],
 ['',
  '',
  '',
  '2023-11-05 15:48:11\n4 hr 31 min ago',
  '-20.220',
  '-70.130',
  '51',
  '',
  '3.2',
  'TARAPACA, CHILE'],
 ['',
  '',
  '',
  '2023-11-05 15:39:33\n4 hr 40 min ago',
  '12.060',
  '-86.780',
  '81',
  '',
  '2.8',
  'NICARAGUA'],
 ['',
  '',
  '',
  '2023-11-05 15:38:32\n4 hr 41 min ago',
  '35.292',
  '-3.671',
  '42',
  '',
  '2.1',
  'STRAIT OF GIBRALTAR'],
 ['',
  '',
  '',
  '2023-11-05 15:29:17\n4 hr 50 min ago',
  '-20.448',
  '169.384',
  '32',
  '',
  '5.7',
  'VANUATU'],
 ['',
  '',
  '',
  '2023-11-05 15:21:16\n4 hr 58 min ago',
  '39.460',
  '20.530',
  '5',
  '',
  '2.0',
  'GREECE'],
 ['',
  '',
  '',
  '2023-11-05 15:18:52\n5 hr 00 min ago',
  '28.580',
  '81.630',
  '10',
  '',
  '2.9',
  'NEPAL-INDIA BORDER REGION'],
 ['',
  '',
  '',
  '2023-11-05 15:17:54\n5 hr 01 min ago',
  '-3.340',
  '131.380',
  '14',
  '',
  '2.9',
  'CERAM SEA, INDONESIA'],
 ['',
  '',
  '',
  '2023-11-05 15:15:47\n5 hr 03 min ago',
  '-1.980',
  '122.590',
  '11',
  '',
  '2.7',
  'SULAWESI, INDONESIA'],
 ['',
  '',
  '',
  '2023-11-05 15:02:50\n5 hr 16 min ago',
  '18.731',
  '-69.432',
  '100',
  '',
  '3.9',
  'DOMINICAN REPUBLIC'],
 ['',
  '',
  '',
  '2023-11-05 14:55:36\n5 hr 24 min ago',
  '-3.440',
  '131.330',
  '63',
  '',
  '3.5',
  'CERAM SEA, INDONESIA'],
 ['',
  '',
  '',
  '2023-11-05 14:45:17\n5 hr 34 min ago',
  '42.749',
  '142.577',
  '121',
  '',
  '3.8',
  'HOKKAIDO, JAPAN REGION'],
 ['',
  '',
  '',
  '2023-11-05 14:43:17\n5 hr 36 min ago',
  '63.872',
  '-22.444',
  '5',
  '',
  '3.0',
  'ICELAND REGION'],
 ['',
  '',
  '',
  '2023-11-05 14:39:09\n5 hr 40 min ago',
  '-18.032',
  '-65.083',
  '5',
  '',
  '3.1',
  'COCHABAMBA, BOLIVIA'],
 ['',
  '',
  '',
  '2023-11-05 14:29:59\n5 hr 49 min ago',
  '-17.944',
  '-65.147',
  '5',
  '',
  '4.0',
  'COCHABAMBA, BOLIVIA'],
 ['',
  '',
  '',
  '2023-11-05 14:25:34\n5 hr 54 min ago',
  '-20.250',
  '-68.980',
  '119',
  '',
  '3.6',
  'TARAPACA, CHILE'],
 ['',
  '',
  '',
  '2023-11-05 14:20:48\n5 hr 58 min ago',
  '37.291',
  '37.086',
  '5',
  '',
  '2.2',
  'CENTRAL TURKEY'],
 ['',
  '',
  '',
  '2023-11-05 14:17:22\n6 hr 02 min ago',
  '59.801',
  '-153.615',
  '134',
  '',
  '2.2',
  'SOUTHERN ALASKA'],
 ['',
  '',
  '',
  '2023-11-05 14:16:57\n6 hr 02 min ago',
  '39.840',
  '23.800',
  '7',
  '',
  '2.4',
  'AEGEAN SEA'],
 ['',
  '',
  '',
  '2023-11-05 14:01:22\n6 hr 18 min ago',
  '45.884',
  '6.984',
  '3',
  '',
  '1.9',
  'FRANCE'],
 ['',
  '',
  '',
  '2023-11-05 13:56:03\n6 hr 23 min ago',
  '-20.880',
  '-69.040',
  '110',
  '',
  '2.7',
  'TARAPACA, CHILE'],
 ['',
  '102',
  '',
  '2023-11-05 13:50:46\n6 hr 28 min ago',
  '41.082',
  '19.966',
  '16',
  '',
  '3.8',
  'ALBANIA'],
 ['',
  '',
  '',
  '2023-11-05 13:48:52\n6 hr 30 min ago',
  '-24.350',
  '-67.230',
  '198',
  '',
  '4.2',
  'SALTA, ARGENTINA'],
 ['',
  '',
  '',
  '2023-11-05 13:37:59\n6 hr 41 min ago',
  '25.190',
  '93.650',
  '10',
  '',
  '2.9',
  'ASSAM-NAGALAND-MANIPUR, INDIA'],
 ['',
  '',
  '',
  '2023-11-05 13:37:41\n6 hr 41 min ago',
  '35.200',
  '25.310',
  '5',
  '',
  '3.0',
  'CRETE, GREECE'],
 ['',
  '',
  '',
  '2023-11-05 13:32:25\n6 hr 47 min ago',
  '31.673',
  '-104.401',
  '7',
  '',
  '2.0',
  'WESTERN TEXAS'],
 ['',
  '',
  '',
  '2023-11-05 13:27:27\n6 hr 52 min ago',
  '51.590',
  '178.490',
  '70',
  '',
  '5.1',
  'RAT ISLANDS, ALEUTIAN ISLANDS'],
 ['',
  '',
  '',
  '2023-11-05 13:23:31\n6 hr 56 min ago',
  '-21.550',
  '-68.420',
  '129',
  '',
  '3.5',
  'ANTOFAGASTA, CHILE'],
 ['',
  '',
  '',
  '2023-11-05 13:19:46\n6 hr 59 min ago',
  '-24.110',
  '-67.720',
  '242',
  '',
  '3.2',
  'ANTOFAGASTA, CHILE'],
 ['',
  '',
  '',
  '2023-11-05 13:14:46\n7 hr 04 min ago',
  '38.030',
  '21.920',
  '5',
  '',
  '2.0',
  'GREECE'],
 ['',
  '',
  '',
  '2023-11-05 13:07:11\n7 hr 12 min ago',
  '46.345',
  '13.658',
  '4',
  '',
  '1.4',
  'SLOVENIA'],
 ['',
  '',
  '',
  '2023-11-05 13:04:31\n7 hr 15 min ago',
  '-21.570',
  '-68.540',
  '111',
  '',
  '2.9',
  'ANTOFAGASTA, CHILE'],
 ['',
  '',
  '',
  '2023-11-05 13:01:05\n7 hr 18 min ago',
  '46.345',
  '13.658',
  '4',
  '',
  '1.6',
  'SLOVENIA'],
 ['',
  '',
  '',
  '2023-11-05 12:41:52\n7 hr 37 min ago',
  '37.847',
  '29.834',
  '4',
  '',
  '2.0',
  'WESTERN TURKEY'],
 ['',
  '',
  '',
  '2023-11-05 12:34:34\n7 hr 45 min ago',
  '0.030',
  '121.930',
  '227',
  '',
  '2.7',
  'MINAHASA, SULAWESI, INDONESIA'],
 ['',
  '',
  '',
  '2023-11-05 12:30:33\n7 hr 49 min ago',
  '-33.452',
  '-68.687',
  '52',
  '',
  '4.2',
  'MENDOZA, ARGENTINA'],
 ['',
  '',
  '',
  '2023-11-05 12:25:53\n7 hr 53 min ago',
  '-32.570',
  '-71.690',
  '38',
  '',
  '3.4',
  'OFFSHORE VALPARAISO, CHILE'],
 ['',
  '',
  '',
  '2023-11-05 12:17:24\n8 hr 02 min ago',
  '38.930',
  '23.260',
  '162',
  '',
  '2.1',
  'GREECE'],
 ['',
  '',
  '',
  '2023-11-05 12:12:04\n8 hr 07 min ago',
  '24.230',
  '93.730',
  '30',
  '',
  '3.1',
  'MANIPUR, INDIA REGION'],
 ['',
  '',
  '',
  '2023-11-05 12:10:09\n8 hr 09 min ago',
  '37.997',
  '37.556',
  '8',
  '',
  '2.1',
  'CENTRAL TURKEY'],
 ['',
  '',
  '',
  '2023-11-05 11:43:06\n8 hr 36 min ago',
  '51.407',
  '-176.154',
  '26',
  '',
  '3.9',
  'ANDREANOF ISLANDS, ALEUTIAN IS.'],
 ['',
  '',
  '',
  '2023-11-05 11:34:31\n8 hr 45 min ago',
  '57.697',
  '-156.240',
  '9',
  '',
  '2.4',
  'ALASKA PENINSULA'],
 ['',
  '',
  '',
  '2023-11-05 11:08:20\n9 hr 11 min ago',
  '-25.730',
  '-69.590',
  '16',
  '',
  '3.7',
  'ATACAMA, CHILE'],
 ['',
  '',
  '',
  '2023-11-05 10:39:38\n9 hr 40 min ago',
  '38.131',
  '36.971',
  '5',
  '',
  '2.5',
  'CENTRAL TURKEY'],
 ['',
  '',
  '',
  '2023-11-05 10:37:36\n9 hr 42 min ago',
  '19.649',
  '-70.781',
  '0',
  '',
  '3.0',
  'DOMINICAN REPUBLIC'],
 ['',
  '',
  '',
  '2023-11-05 10:34:38\n9 hr 45 min ago',
  '63.869',
  '-22.445',
  '3',
  '',
  '2.9',
  'ICELAND REGION'],
 ['',
  '',
  '',
  '2023-11-05 10:32:55\n9 hr 46 min ago',
  '63.852',
  '-22.590',
  '5',
  '',
  '3.3',
  'ICELAND REGION'],
 ['',
  '',
  '',
  '2023-11-05 10:24:43\n9 hr 54 min ago',
  '-3.760',
  '102.160',
  '11',
  '',
  '3.7',
  'SOUTHERN SUMATRA, INDONESIA'],
 ['',
  '',
  '',
  '2023-11-05 10:24:30\n9 hr 55 min ago',
  '44.440',
  '6.880',
  '5',
  '',
  '2.7',
  'FRANCE'],
 ['',
  '',
  '',
  '2023-11-05 10:14:14\n10 hr 05 min ago',
  '16.890',
  '-93.570',
  '154',
  '',
  '3.6',
  'CHIAPAS, MEXICO'],
 ['',
  '',
  '',
  '2023-11-05 10:13:04\n10 hr 06 min ago',
  '63.866',
  '-22.445',
  '4',
  '',
  '3.2',
  'ICELAND REGION'],
 ['',
  '',
  '',
  '2023-11-05 10:07:40\n10 hr 11 min ago',
  '17.210',
  '-94.480',
  '146',
  '',
  '3.9',
  'VERACRUZ, MEXICO'],
 ['',
  '',
  '',
  '2023-11-05 10:02:39\n10 hr 17 min ago',
  '-44.637',
  '168.440',
  '5',
  '',
  '3.6',
  'SOUTH ISLAND OF NEW ZEALAND'],
 ['',
  '',
  '',
  '2023-11-05 10:01:30\n10 hr 18 min ago',
  '34.464',
  '-119.127',
  '10',
  '',
  '2.8',
  'SOUTHERN CALIFORNIA'],
 ['',
  '',
  '',
  '2023-11-05 09:55:47\n10 hr 23 min ago',
  '11.430',
  '-86.270',
  '39',
  '',
  '2.9',
  'NEAR COAST OF NICARAGUA'],
 ['',
  '',
  '',
  '2023-11-05 09:41:40\n10 hr 37 min ago',
  '17.180',
  '-94.700',
  '138',
  '',
  '3.9',
  'OAXACA, MEXICO'],
 ['',
  '',
  '',
  '2023-11-05 09:32:02\n10 hr 47 min ago',
  '-10.560',
  '123.810',
  '38',
  '',
  '3.9',
  'TIMOR REGION, INDONESIA'],
 ['',
  '',
  '',
  '2023-11-05 09:24:05\n10 hr 55 min ago',
  '19.190',
  '-155.482',
  '31',
  '',
  '2.0',
  'ISLAND OF HAWAII, HAWAII'],
 ['',
  '',
  '',
  '2023-11-05 09:21:49\n10 hr 57 min ago',
  '18.870',
  '-105.120',
  '3',
  '',
  '3.8',
  'OFFSHORE JALISCO, MEXICO'],
 ['',
  '',
  '',
  '2023-11-05 09:03:33\n11 hr 16 min ago',
  '33.169',
  '45.947',
  '15',
  '',
  '4.1',
  'IRAN-IRAQ BORDER REGION'],
 ['',
  '',
  '',
  '2023-11-05 09:03:04\n11 hr 16 min ago',
  '63.872',
  '-22.523',
  '4',
  '',
  '3.2',
  'ICELAND REGION'],
 ['',
  '',
  '',
  '2023-11-05 08:45:25\n11 hr 34 min ago',
  '-27.850',
  '-71.060',
  '46',
  '',
  '2.8',
  'ATACAMA, CHILE'],
 ['',
  '',
  '',
  '2023-11-05 08:39:19\n11 hr 40 min ago',
  '28.910',
  '82.090',
  '10',
  '',
  '3.6',
  'NEPAL'],
 ['',
  '',
  '',
  '2023-11-05 08:38:27\n11 hr 41 min ago',
  '39.115',
  '-28.417',
  '5',
  '',
  '2.6',
  'AZORES ISLANDS, PORTUGAL']]

In [20]:
len(matriz[0])

10

In [21]:
cabecera = tabla.find_element(By.TAG_NAME, 'thead')

len(cabecera.find_elements(By.TAG_NAME, 'th'))

8

In [22]:
[e.text for e in cabecera.find_elements(By.TAG_NAME, 'th')]

['',
 'Citizen\nresponse',
 'Date & Time\nUTC',
 'Lat.\ndegrees',
 'Lon.\ndegrees',
 'Depth\nkm',
 'Mag.[+]',
 'Region']

In [23]:
columnas = [i for i in range(10)]

df = pd.DataFrame(matriz, columns=columnas)
df = df[[3, 4, 5, 6, 8, 9]]

In [24]:
n_cols = [e.text for e in cabecera.find_elements(By.TAG_NAME, 'th')]

len(n_cols)

8

In [25]:
n_cols[2:]

['Date & Time\nUTC',
 'Lat.\ndegrees',
 'Lon.\ndegrees',
 'Depth\nkm',
 'Mag.[+]',
 'Region']

In [26]:
df.head()

,3,4,5,6,8,9
0,2023-11-05 20:03:26\n16 min ago,46.306,13.542,20,0.7,SLOVENIA
1,2023-11-05 20:00:57\n18 min ago,-37.534,179.334,12,3.0,"OFF E. COAST OF N. ISLAND, N.Z."
2,2023-11-05 19:35:37\n44 min ago,12.710,-88.350,34,2.6,OFFSHORE EL SALVADOR
3,2023-11-05 19:32:14\n47 min ago,8.620,122.220,33,3.2,"MINDANAO, PHILIPPINES"
4,2023-11-05 19:25:06\n54 min ago,11.380,126.260,26,3.5,PHILIPPINE ISLANDS REGION

In [28]:
df.columns = n_cols[2:]
df.head()

,Date & Time\nUTC,Lat.\ndegrees,Lon.\ndegrees,Depth\nkm,Mag.[+],Region
0,2023-11-05 20:03:26\n16 min ago,46.306,13.542,20,0.7,SLOVENIA
1,2023-11-05 20:00:57\n18 min ago,-37.534,179.334,12,3.0,"OFF E. COAST OF N. ISLAND, N.Z."
2,2023-11-05 19:35:37\n44 min ago,12.710,-88.350,34,2.6,OFFSHORE EL SALVADOR
3,2023-11-05 19:32:14\n47 min ago,8.620,122.220,33,3.2,"MINDANAO, PHILIPPINES"
4,2023-11-05 19:25:06\n54 min ago,11.380,126.260,26,3.5,PHILIPPINE ISLANDS REGION

In [ ]:
EMSC = []   #lista de listas

for e in terremoto:
    e.text.split('\n')
    
    EMSC_terremoto = []
    for e in EMSC_terremoto:
        EMSC_terremoto.append(' '.join(e.text.split('\n')))

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [77]:
cuenta = 'Farmaenfurecida'
url = f'https://twitter.com/{cuenta}'
driver.get(url)

In [78]:
tweets = driver.find_element(By.CSS_SELECTOR, '#react-root > div > div > div.css-1dbjc4n.r-18u37iz.r-13qz1uu.r-417010 > main > div > div > div > div > div > div.css-1dbjc4n.r-aqfbo4.r-gtdqiz.r-1gn8etr.r-1g40b8q > div:nth-child(1) > div > div > div > div > div > div.css-1dbjc4n.r-16y2uox.r-1wbh5a2.r-1pi2tsx.r-1777fci > div > div')

tweets.text

'33,1 mil posts'

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [85]:
cuenta = 'Farmaenfurecida'
url = f'https://twitter.com/{cuenta}'
driver.get(url)

In [86]:
followers = driver.find_element(By.XPATH, '//*[@id="react-root"]/div/div/div[2]/main/div/div/div/div/div/div[3]/div/div/div/div/div[5]/div[2]/a/span[1]/span').text

followers

'99,1 mil'

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [31]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'
driver.get(url)

In [32]:
#your code
wiki = driver.find_element(By.CSS_SELECTOR,"#www-wikipedia-org > div.central-featured").find_elements(By.TAG_NAME, "a")

In [33]:
wiki

[<selenium.webdriver.remote.webelement.WebElement (session="93fb3bf5b2b8fae91c6661b9428b300c", element="EFA0A47B84DECD7214C91CF999534551_element_30")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93fb3bf5b2b8fae91c6661b9428b300c", element="EFA0A47B84DECD7214C91CF999534551_element_31")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93fb3bf5b2b8fae91c6661b9428b300c", element="EFA0A47B84DECD7214C91CF999534551_element_32")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93fb3bf5b2b8fae91c6661b9428b300c", element="EFA0A47B84DECD7214C91CF999534551_element_33")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93fb3bf5b2b8fae91c6661b9428b300c", element="EFA0A47B84DECD7214C91CF999534551_element_34")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93fb3bf5b2b8fae91c6661b9428b300c", element="EFA0A47B84DECD7214C91CF999534551_element_35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93fb3bf5b2b8fae91c6661b9428b300c", element="EFA0A47B84DECD7214C91CF999534551_element_36")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93fb3bf5b2b8fae91c6661b9428b300c", element="EFA0A47B84DECD7214C91CF999534551_element_37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93fb3bf5b2b8fae91c6661b9428b300c", element="EFA0A47B84DECD7214C91CF999534551_element_38")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93fb3bf5b2b8fae91c6661b9428b300c", element="EFA0A47B84DECD7214C91CF999534551_element_39")>]

In [34]:
for i in wiki:
    print(i.text)

Español
1 892 000+ artículos
English
6 715 000+ articles
日本語
1 387 000+ 記事
Русский
1 938 000+ статей
Deutsch
2 836 000+ Artikel
Français
2 553 000+ articles
Italiano
1 826 000+ voci
中文
1 377 000+ 条目 / 條目
Português
1 109 000+ artigos
العربية
1 217 000+ مقالة

#### A list with the different kind of datasets available in data.gov.uk

In [35]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'
driver.get(url)

In [36]:
#your code 
data_gov = driver.find_element(By.CSS_SELECTOR,"#main-content > div:nth-child(3) > div").find_elements(By.TAG_NAME, "a")

for i in data_gov:
    print(i.text)

Business and economy
Crime and justice
Defence
Education
Environment
Government
Government spending
Health
Mapping
Society
Towns and cities
Transport
Digital service performance
Government reference data

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [5]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'
driver.get(url)

In [6]:
tabla = driver.find_element(By.CSS_SELECTOR, '#mw-content-text > div.mw-parser-output > table.wikitable.sortable.static-row-numbers.jquery-tablesorter')
tabla

In [7]:
tabla.text

'Languages with at least 50 million first-language speakers[7]\nLanguage Native speakers\n(millions) Language family Branch\nMandarin Chinese\n(incl. Standard Chinese, but excl. other varieties) 939 Sino-Tibetan Sinitic\nSpanish 485 Indo-European Romance\nEnglish 380 Indo-European Germanic\nHindi\n(excl. Urdu, and other languages) 345 Indo-European Indo-Aryan\nPortuguese 236 Indo-European Romance\nBengali 234 Indo-European Indo-Aryan\nRussian 147 Indo-European Balto-Slavic\nJapanese 123 Japonic Japanese\nYue Chinese\n(incl. Cantonese) 86.1 Sino-Tibetan Sinitic\nVietnamese 85.0 Austroasiatic Vietic\nTurkish 84.0 Turkic Oghuz\nWu Chinese\n(incl. Shanghainese) 83.4 Sino-Tibetan Sinitic\nMarathi 83.2 Indo-European Indo-Aryan\nTelugu 83.0 Dravidian South-Central\nKorean 81.7 Koreanic —\nFrench 80.8 Indo-European Romance\nTamil 78.6 Dravidian South\nEgyptian Spoken Arabic\n(excl. Saʽidi Arabic) 77.4 Afroasiatic Semitic\nStandard German 75.3 Indo-European Germanic\nUrdu\n(excl. Hindi) 70.6 Indo-European Indo-Aryan\nJavanese 68.3 Austronesian Malayo-Polynesian\nWestern Punjabi\n(excl. Eastern Punjabi) 66.7 Indo-European Indo-Aryan\nItalian 64.6 Indo-European Romance\nGujarati 57.1 Indo-European Indo-Aryan\nIranian Persian\n(excl. Dari and Tajik) 57.2 Indo-European Iranian\nBhojpuri 52.3 Indo-European Indo-Aryan\nHausa 51.7 Afroasiatic Chadic'

In [8]:
cuerpo = tabla.find_element(By.TAG_NAME, 'tbody')
filas = cuerpo.find_elements(By.TAG_NAME, 'tr')
filas[0].find_elements(By.TAG_NAME, 'td')[2].text

'Sino-Tibetan'

In [9]:
matriz = []
for f in filas:
    tmp = []
    elems = f.find_elements(By.TAG_NAME, 'td')  # esto es una lista
    for e in elems:  
        tmp.append(e.text)   
    matriz.append(tmp)

In [10]:
df = pd.DataFrame(matriz)
df

,0,1,2,3
0,"Mandarin Chinese\n(incl. Standard Chinese, but...",939,Sino-Tibetan,Sinitic
1,Spanish,485,Indo-European,Romance
2,English,380,Indo-European,Germanic
3,"Hindi\n(excl. Urdu, and other languages)",345,Indo-European,Indo-Aryan
4,Portuguese,236,Indo-European,Romance
5,Bengali,234,Indo-European,Indo-Aryan
6,Russian,147,Indo-European,Balto-Slavic
7,Japanese,123,Japonic,Japanese
8,Yue Chinese\n(incl. Cantonese),86.1,Sino-Tibetan,Sinitic
9,Vietnamese,85.0,Austroasiatic,Vietic
10,Turkish,84.0,Turkic,Oghuz
11,Wu Chinese\n(incl. Shanghainese),83.4,Sino-Tibetan,Sinitic
12,Marathi,83.2,Indo-European,Indo-Aryan
13,Telugu,83.0,Dravidian,South-Central
14,Korean,81.7,Koreanic,—
15,French,80.8,Indo-European,Romance
16,Tamil,78.6,Dravidian,South
17,Egyptian Spoken Arabic\n(excl. Saʽidi Arabic),77.4,Afroasiatic,Semitic
18,Standard German,75.3,Indo-European,Germanic
19,Urdu\n(excl. Hindi),70.6,Indo-European,Indo-Aryan
20,Javanese,68.3,Austronesian,Malayo-Polynesian
21,Western Punjabi\n(excl. Eastern Punjabi),66.7,Indo-European,Indo-Aryan
22,Italian,64.6,Indo-European,Romance
23,Gujarati,57.1,Indo-European,Indo-Aryan
24,Iranian Persian\n(excl. Dari and Tajik),57.2,Indo-European,Iranian
25,Bhojpuri,52.3,Indo-European,Indo-Aryan
26,Hausa,51.7,Afroasiatic,Chadic

In [11]:
matriz[0][0]

'Mandarin Chinese\n(incl. Standard Chinese, but excl. other varieties)'

In [12]:
df[0] = df[0].apply(lambda x: x.split('\n')[0])
df

                         0     1              2                  3
0         Mandarin Chinese   939   Sino-Tibetan            Sinitic
1                  Spanish   485  Indo-European            Romance
2                  English   380  Indo-European           Germanic
3                    Hindi   345  Indo-European         Indo-Aryan
4               Portuguese   236  Indo-European            Romance
5                  Bengali   234  Indo-European         Indo-Aryan
6                  Russian   147  Indo-European       Balto-Slavic
7                 Japanese   123        Japonic           Japanese
8              Yue Chinese  86.1   Sino-Tibetan            Sinitic
9               Vietnamese  85.0  Austroasiatic             Vietic
10                 Turkish  84.0         Turkic              Oghuz
11              Wu Chinese  83.4   Sino-Tibetan            Sinitic
12                 Marathi  83.2  Indo-European         Indo-Aryan
13                  Telugu  83.0      Dravidian      South-Central
14                  Korean  81.7       Koreanic                  —
15                  French  80.8  Indo-European            Romance
16                   Tamil  78.6      Dravidian              South
17  Egyptian Spoken Arabic  77.4    Afroasiatic            Semitic
18         Standard German  75.3  Indo-European           Germanic
19                    Urdu  70.6  Indo-European         Indo-Aryan
20                Javanese  68.3   Austronesian  Malayo-Polynesian
21         Western Punjabi  66.7  Indo-European         Indo-Aryan
22                 Italian  64.6  Indo-European            Romance
23                Gujarati  57.1  Indo-European         Indo-Aryan
24         Iranian Persian  57.2  Indo-European            Iranian
25                Bhojpuri  52.3  Indo-European         Indo-Aryan
26                   Hausa  51.7    Afroasiatic             Chadic

In [13]:
cols = [e.text for e in tabla.find_element(By.TAG_NAME, 'thead').find_elements(By.TAG_NAME, 'th')]
cols = [e.split('\n')[0] for e in cols]
df.columns = cols
df

                  Language Native speakers Language family             Branch
0         Mandarin Chinese             939    Sino-Tibetan            Sinitic
1                  Spanish             485   Indo-European            Romance
2                  English             380   Indo-European           Germanic
3                    Hindi             345   Indo-European         Indo-Aryan
4               Portuguese             236   Indo-European            Romance
5                  Bengali             234   Indo-European         Indo-Aryan
6                  Russian             147   Indo-European       Balto-Slavic
7                 Japanese             123         Japonic           Japanese
8              Yue Chinese            86.1    Sino-Tibetan            Sinitic
9               Vietnamese            85.0   Austroasiatic             Vietic
10                 Turkish            84.0          Turkic              Oghuz
11              Wu Chinese            83.4    Sino-Tibetan            Sinitic
12                 Marathi            83.2   Indo-European         Indo-Aryan
13                  Telugu            83.0       Dravidian      South-Central
14                  Korean            81.7        Koreanic                  —
15                  French            80.8   Indo-European            Romance
16                   Tamil            78.6       Dravidian              South
17  Egyptian Spoken Arabic            77.4     Afroasiatic            Semitic
18         Standard German            75.3   Indo-European           Germanic
19                    Urdu            70.6   Indo-European         Indo-Aryan
20                Javanese            68.3    Austronesian  Malayo-Polynesian
21         Western Punjabi            66.7   Indo-European         Indo-Aryan
22                 Italian            64.6   Indo-European            Romance
23                Gujarati            57.1   Indo-European         Indo-Aryan
24         Iranian Persian            57.2   Indo-European            Iranian
25                Bhojpuri            52.3   Indo-European         Indo-Aryan
26                   Hausa            51.7     Afroasiatic             Chadic

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [ ]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [ ]:
# your code

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [ ]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [ ]:
#your code

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
#your code